.admin-page {
    .MuiToolbar-regular {
        background-color: lightblue;

        h2 {
            padding: 10px 0px 0px;
            color: white;
        }
    }

    .sidebarButtons {
        color: black !important;
    }
}

.modal-wrapper {
    .modal-dialog {
        padding: 0 10%;
        margin: 5% auto;
    }
}